<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-plc4x-tests"
  version="1.0.0-dev">
  <name>plc4x Tests</name>
  <description></description>
  <license>Apache 2.0</license>
  <keywords>cordova,plugin,android,plc4x,</keywords>
  <repo>https://github.com/niklasmerz/cordova-plugin-plc4x.git</repo>
  <issue>https://github.com/cordova-plugin-plc4x/issues</issue>

  <js-module src="tests.js" name="tests">
  </js-module>

</plugin>
